
  <div style="display: flex; flex-direction: row; gap: 60px; align-items: center; justify-content: center">
  <div style="display:  flex; align-items: start; justify-content: center; flex-direction: column ;width: 457px;
height: 628px;
top: 150px;
gap: 0px;
" >
    <span class="title" >Test Page</span>

    <app-input-field label="Name"
                     id="name"
                     name="name"
                     type="text"
                     [value]="nameValue"
                     (valueChange)="nameValue = $event"
    ></app-input-field>


    <app-input-field label="Phone"
                     id="phone"
                     name="phone"
                     type="tel"
                     [value]="phoneValue"
                     (valueChange)="phoneValue = $event"
    ></app-input-field>


    <app-opening-sentence></app-opening-sentence>
    <button class="btn" type="submit">Submit</button>

  </div>
<div class="right_div">
  <span class="text_on_div">Unlock the Power of Conversation with NLPearl and  Transform Your Business Interactions</span></div>
  </div>
